
ALTER PROCEDURE [Materializacoes].[P_Atualizacao_Tabela_Staging_Fato_Contratos] AS

TRUNCATE TABLE Materializacoes.Fato_Contratos_196_Staging

INSERT INTO Materializacoes.Fato_Contratos_196_Staging
(
	ID_Contratos_196,
	ID_Contratos_196_Persist,
	Codigo_Contrato,
	Status,
	Ano,
	Mes,
	Valor_Ressarcimento,
	ID_Parte,
	ID_Contraparte,
	ID_Perfil_CCEE_vendedor,
	ID_Submercado,
	DT_Ini_Vig,
	DT_Fim_Vig,
	Data_Ref,
	Data_Criacao,
	data_fechamento,
	Data_publicacao,
	Valor_Financeiro_Realizado,
	Contrato_Original_Faturado,
	Nr_contrato_vinculado,
	FlexibilidadeMensalMax,
	FlexibilidadeMensalMin,
	Suprimento_inicio,
	Suprimento_termino,
	Quant_Contratada,
	Preco_base,
	ID_Tipo_Contrato,
	ID_Tipo_Agente_Comprador,
	Cenario,
	Movimentacao,
	Ramo_Atividade,
	ID_Portfolio_Comprador,
	ID_Portfolio_Vendedor,
	Nome_Contrato,
	Perfil_CCEE_Vendedor,
	Submercado,
	Contraparte_Apelido,
	Segmento_Mercado,
	Regra_Preco,
	Form_Agio,
	QuantAtualizada,
	Quant_Sazonalizada,
	epai,
	Contraparte_Estado,
	Contrato_legado,
	Parte_Estado,
	ID_Status,
	Valor_financeiro_atualizado,
	Parte_apelido,
	Portfolio_Comprador,
	Portfolio_Vendedor,
	Tipo_contrato,
	Numero_referencia_contrato,
	Tipo_Agente_Comprador,
	Tipo_Agente_Vendedor,
	Agrupador,
	Data_assinatura,
	Classificador
)

SELECT
	ID_Fato_Contratos_196,
	ID_Fato_Contratos_196_Persist,
	Codigo_Contrato,
	Status,
	Ano,
	Mes,
	Valor_Ressarcimento,
	ID_Parte,
	ID_Contraparte,
	ID_Perfil_CCEE_vendedor,
	ID_Submercado,
	DT_Ini_Vig,
	DT_Fim_Vig,
	Data_Ref,
	Data_Criacao,
	data_fechamento,
	Data_publicacao,
	Valor_Financeiro_Realizado,
	Contrato_Original_Faturado,
	Nr_contrato_vinculado,
	FlexibilidadeMensalMax,
	FlexibilidadeMensalMin,
	Suprimento_inicio,
	Suprimento_termino,
	Quant_Contratada,
	Preco_base,
	ID_Tipo_Contrato,
	ID_Tipo_Agente_Comprador,
	Cenario,
	Movimentacao,
	Ramo_Atividade,
	ID_Portfolio_Comprador, 
	ID_Portfolio_Vendedor,
	Nome_Contrato,
	Perfil_CCEE_Vendedor,
	Submercado,
	Contraparte_Apelido,
	Segmento_Mercado,
	Regra_Preco,
	Form_Agio,
	QuantAtualizada,
	Quant_Sazonalizada,
	epai,
	Contraparte_Estado,
	Contrato_legado,
	Parte_Estado,
	ID_Status,
	Valor_financeiro_atualizado,
	Parte_apelido,
	Portfolio_Comprador,
	Portfolio_Vendedor,
	Tipo_contrato,
	Numero_referencia_contrato,
	Tipo_Agente_Comprador,
	Tipo_Agente_Vendedor,
	Agrupador,
	Data_assinatura,
	Classificador
FROM
	Fato_Contratos_196 contratos 
where 
  contratos.DT_Fim_Vig > CONVERT(DATE, GETDATE() -10)